<div class="checkTable">
    <div class="checkTableHeading">
        <span class="title"><%= checkData.type %>: <%= serviceName %>: <%= checkName %></span>
    </div>
    <br>
    <div class="checkTableRow">
        <span class="checkTableHead"><%= checkData.what %></span>
    </div>
    <div class="checkTableBody">
        <div class="checkTableRow checkExplaination">
            <span class="checkTableHead"><%= checkData.why %></span>
        </div>
        <div class="checkTableRow checkRecoemmendation">
            <span class="checkTableHead"><%= checkData.recommendation %></span>
        </div>
    </div>
</div>
<div class="checkTable">
    <div class="checkTableRow">
        <% if(!checkData.isGlobal) { %>
        <div class="checkTableHead"><strong>Region</strong></div>
        <% } %>
        <div class="checkTableHead"><strong><%= checkData.resourceName %></strong></div>
        <div class="checkTableHead"><strong>Message</strong></div>
        <div class="checkTableHead"><strong>Action</strong></div>
    </div>
    <div class="checkTableBody">
        <% for(var i=0; i < checkData.allRegionsData.length; i++) { 
            var data = checkData.allRegionsData[i];
            var region = data.region;
            var resourceValue = data.resourceSummary.value;
        %>
        <%- include('resourceDetails', { region, resourceValue, analysis: data}) %>
        <% } %>
    </div>
</div>
<br><br><br>