<div class="cloudreportdatetime">
    <html>

    <body>
        <br><br>
        <h2 style="color: #33acdd;">Cloud Reports</h2>
        <h5 id="cloudreportrundate" style="color: #33acdd;">
            <script>
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();
                today = dd + '/' + mm + '/' + yyyy;
                document.getElementById("cloudreportrundate").innerHTML = today;
            </script>
        </h5>
        <h5 style="color: #33acdd;"> AWS Account ID : <%= awsAccountId %></h5>
    </body>

    </html>
</div>
<div style='page-break-before: always; margin-top:30px;'>
    <p class="toc_title">Table Of Contents</p>
    <ul class=leaders>
        <li><span>1. Cloud Report Summary</span>
        <li><span>2. Services</span>
            <ul style="list-style-type:disc;color: #33acdd;">
                <%if (servicesHasData.indexOf("acm")!==-1) { %>
                <li><span><a href="#acm" class="alink">AWS ACM</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("apigateway")!==-1) { %>
                <li><span><a href="#apigateway" class="alink">Amazon API Gateway</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("cloudfront")!==-1) { %>
                <li><span><a href="#cloudfront" class="alink">Amazon CloudFront</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("cloudwatch")!==-1) { %>
                <li><span><a href="#cloudwatch" class="alink">Amazon CloudWatch</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("dynamodb")!==-1) { %>
                <li><span><a href="#dynamodb" class="alink">AWS DynamoDB</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("ebs")!==-1) { %>
                <li><span><a href="#ebs" class="alink">Amazon EBS</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("ec2")!==-1) { %>
                <li><span><a href="#ec2" class="alink">Amazon EC2</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("elasticsearch")!==-1) { %>
                <li><span><a href="#elasticsearch" class="alink">Amazon Elasticsearch</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("elb")!==-1) { %>
                <li><span><a href="#elb" class="alink">Elastic Load Balancing</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("iam")!==-1) { %>
                <li><span><a href="#iam" class="alink">AWS IAM</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("lambda")!==-1) { %>
                <li><span><a href="#lambda" class="alink">AWS Lambda</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("resourcegroups")!==-1) { %>
                <li><span><a href="#resourcegroups" class="alink">AWS Resource Groups</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("route53")!==-1) { %>
                <li><span><a href="#route53" class="alink">Amazon Route 53</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("s3")!==-1) { %>
                <li><span><a href="#s3" class="alink">Amazon S3</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("sns")!==-1) { %>
                <li><span><a href="#sns" class="alink">Amazon SNS</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("sqs")!==-1) { %>
                <li><span><a href="#sqs" class="alink">Amazon SQS</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("trails")!==-1) { %>
                <li><span><a href="#trails" class="alink">AWS CloudTrail</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("vpc")!==-1) { %>
                <li><span><a href="#vpc" class="alink">Amazon VPC</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("redshift")!==-1) { %>
                <li><span><a href="#redshift" class="alink">Amazon Redshift</a></span></li>
                <% } %>
            </ul>
        </li>
    </ul>
</div>

<div style='page-break-before: always;'>
    <h3 style="color: #33acdd;font-weight: bold;">TOTAL CLOUD REPORTS SUMMARY</h3>
    <div class="checkTablesummary">
        <div class="checkTableRow">
            <div class="checkTableHeadsummary" align="center"><strong>Total </strong></div>
            <div class="checkTableHeadsummary" align="center"><strong>Failed </strong></div>
            <div class="checkTableHeadsummary" align="center"><strong>Warning</strong></div>
            <div class="checkTableHeadsummary" align="center"><strong>Passed</strong></div>
        </div>
        <div class="checkTableRowsummary">
            <div class="checkTableCell" align="center"><%= totalData.totalsummaryData.noOfChecks %></div>
            <div class="checkTableCell failuresummary" align="center"><%= totalData.totalsummaryData.noOfFailure %>
            </div>
            <div class="checkTableCell warningsummary" align="center"><%= totalData.totalsummaryData.noOfWarning %>
            </div>
            <div class="checkTableCell goodsummary" align="center"><%= totalData.totalsummaryData.noOfGood %></div>

        </div>
    </div>
    <br>
    <h3 style="color: #33acdd;font-weight: bold;">SERVICE DETAILS SUMMARY</h3>
    <div class="checkTablesummary">
        <div class="checkTableRow">
            <div class="checkTableservice" align="center"><strong>Service</strong></div>
            <div class="checkTableservice" align="center"><strong>Total Checks</strong></div>
            <div class="checkTableservice" align="center"><strong>Failed </strong></div>
            <div class="checkTableservice" align="center"><strong>Warning</strong></div>
            <div class="checkTableservice" align="center"><strong>Passed</strong></div>
        </div>

        <% for(var data of totalData.summaryData) { %>
        <div class="checkTableRowsummary">
            <div class="checkTableCell"><%= data.service %></div>
            <div class="checkTableCell" align="center"><%= data.noOfChecks %></div>
            <div class="checkTableCell failuresummary" align="center"><%= data.noOfFailure %></div>
            <div class="checkTableCell warningsummary" align="center"><%= data.noOfWarning %></div>
            <div class="checkTableCell goodsummary" align="center"><%= data.noOfGood %></div>
        </div>
        <% } %>
    </div>
</div>

<div class="reportDetails" style='page-break-before: always;'>
    <% for(var serviceName in totalData.servicesData) { %>
    <% var serviceData = totalData.servicesData[serviceName]; 
            if(!serviceData.isUsed) {
                continue;
            }
            serviceName = serviceName.replace('aws.', '');
    %>
    <div class="serviceDetails" id="<%= serviceName %>">
        <%- include('serviceDetails', {serviceData: serviceData, serviceName: serviceName}) %>
    </div>
    <% } %>
</div>