<div class="checkTable">
    <div class="checkTableHeading">
        <span class="title">Cloud report summary</span>
    </div>

    <div class="checkTableRow">
        <div class="checkTableHead"><strong>Service</strong></div>
        <div class="checkTableHead" align="center"><strong>Total Checks</strong></div>
        <div class="checkTableHead" align="center"><strong>Passed</strong></div>
        <div class="checkTableHead" align="center"><strong>Failed </strong></div>
        <div class="checkTableHead" align="center"><strong>Warning</strong></div>
    </div>


    <% for(var data of totalData.summaryData) { %>
    <% if(data.noOfFailure) {%>
    <div class="checkTableRow failure">
        <div class="checkTableCell"><%= data.service %></div>
        <div class="checkTableCell" align="center"><%= data.noOfChecks %></div>
        <div class="checkTableCell" align="center"><%= data.noOfGood %></div>
        <div class="checkTableCell" align="center"><%= data.noOfFailure %></div>
        <div class="checkTableCell" align="center"><%= data.noOfWarning %></div>

    </div>
    <% } else if (data.noOfWarning) { %>
    <div class="checkTableRow warning">
        <div class="checkTableCell"><%= data.service %></div>
        <div class="checkTableCell" align="center"><%= data.noOfChecks %></div>
        <div class="checkTableCell" align="center"><%= data.noOfGood %></div>
        <div class="checkTableCell" align="center"><%= data.noOfFailure %></div>
        <div class="checkTableCell" align="center"><%= data.noOfWarning %></div>

    </div>
    <% } else{ %>
    <div class="checkTableRow good">
        <div class="checkTableCell"><%= data.service %></div>
        <div class="checkTableCell" align="center"><%= data.noOfChecks %></div>
        <div class="checkTableCell" align="center"><%= data.noOfGood %></div>
        <div class="checkTableCell" align="center"><%= data.noOfFailure %></div>
        <div class="checkTableCell" align="center"> <%= data.noOfWarning %></div>

    </div>
    <% } %>
    <% } %>
</div>

<div class="reportDetails" style='page-break-before: always; margin-top:30px;'>
    <% for(var serviceName in totalData.servicesData) { %>
    <% var serviceData = totalData.servicesData[serviceName]; 
            if(!serviceData.isUsed) {
                continue;
            }
            serviceName = serviceName.replace('aws.', '');
        %>
    <div class="serviceDetails" id="<%= serviceName %>">
        <%- include('serviceDetails', {serviceData: serviceData, serviceName: serviceName}) %>
    </div>
    <% } %>
</div>