<div class="cloudreportdatetime">
    <h2 style="color: #33acdd;">Cloud Reports</h2>
    <h5 style="color: #33acdd;">Date of Run: <%= currentDate %></h5>
    <%if (awsAccountId) { %> <h5 style="color: #33acdd;"> AWS Account ID : <%= awsAccountId %></h5><% } %>
</div>

<div style='page-break-before: always; margin-top:30px;'>
    <h3 style="color: #33acdd;font-weight: bold; text-align: center; font-family: sans-serif;">Table of Contents</h3>
    <ul class=leaders>
        <li><span>1. <a href="#overallSnapshot" class="alink">Overall Snapshot</a></span></li>
        <li><span>2. <a href="#serviceDetailsSummary" class="alink">Service Details Summary</a></span></li>
        <li><span>3. Services</span>
            <ul style="list-style-type:disc;color: #33acdd;">
                <%if (servicesHasData.indexOf("acm")!==-1) { %>
                <li><span><a href="#acm" class="alink">AWS ACM</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("apigateway")!==-1) { %>
                <li><span><a href="#apigateway" class="alink">Amazon API Gateway</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("cloudfront")!==-1) { %>
                <li><span><a href="#cloudfront" class="alink">Amazon CloudFront</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("cloudwatch")!==-1) { %>
                <li><span><a href="#cloudwatch" class="alink">Amazon CloudWatch</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("dynamodb")!==-1) { %>
                <li><span><a href="#dynamodb" class="alink">AWS DynamoDB</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("ebs")!==-1) { %>
                <li><span><a href="#ebs" class="alink">Amazon EBS</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("ec2")!==-1) { %>
                <li><span><a href="#ec2" class="alink">Amazon EC2</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("elasticsearch")!==-1) { %>
                <li><span><a href="#elasticsearch" class="alink">Amazon Elasticsearch</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("elb")!==-1) { %>
                <li><span><a href="#elb" class="alink">Elastic Load Balancing</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("iam")!==-1) { %>
                <li><span><a href="#iam" class="alink">AWS IAM</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("lambda")!==-1) { %>
                <li><span><a href="#lambda" class="alink">AWS Lambda</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("resourcegroups")!==-1) { %>
                <li><span><a href="#resourcegroups" class="alink">AWS Resource Groups</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("route53")!==-1) { %>
                <li><span><a href="#route53" class="alink">Amazon Route 53</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("s3")!==-1) { %>
                <li><span><a href="#s3" class="alink">Amazon S3</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("sns")!==-1) { %>
                <li><span><a href="#sns" class="alink">Amazon SNS</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("sqs")!==-1) { %>
                <li><span><a href="#sqs" class="alink">Amazon SQS</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("trails")!==-1) { %>
                <li><span><a href="#trails" class="alink">AWS CloudTrail</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("vpc")!==-1) { %>
                <li><span><a href="#vpc" class="alink">Amazon VPC</a></span></li>
                <% } %>
                <%if (servicesHasData.indexOf("redshift")!==-1) { %>
                <li><span><a href="#redshift" class="alink">Amazon Redshift</a></span></li>
                <% } %>
            </ul>
        </li>
    </ul>
</div>

<div style='page-break-before: always;' id="overallSnapshot">
    <h3 style="color: #33acdd;font-weight: bold; text-align: center; font-family: sans-serif;">Overall Snapshot</h3>
    <div class="checkTablesummary overallSnapshot">
        <div class="checkTableRow">
            <div class="checkTableHeadsummary" align="center"><strong>Total </strong></div>
            <div class="checkTableHeadsummary" align="center"><strong>Failed </strong></div>
            <div class="checkTableHeadsummary" align="center"><strong>Warning</strong></div>
            <div class="checkTableHeadsummary" align="center"><strong>Passed</strong></div>
            <div class="checkTableHeadsummary" align="center"><strong>Info </strong></div>
        </div>
        <div class="checkTableRowsummary">
            <div class="checkTableCell" align="center"><%= totalData.totalsummaryData.noOfChecks %></div>
            <div class="checkTableCell failuresummary" align="center"><%= totalData.totalsummaryData.noOfFailure %>
            </div>
            <div class="checkTableCell warningsummary" align="center"><%= totalData.totalsummaryData.noOfWarning %>
            </div>
            <div class="checkTableCell goodsummary" align="center"><%= totalData.totalsummaryData.noOfGood %></div>
            <div class="checkTableCell" style="color: blue;" align="center"><%= totalData.totalsummaryData.noOfInfo %></div>
        </div>
    </div>
    <div style="color: #33acdd; font-family: sans-serif;">
        <br><br>
        <h3 style="color: #33acdd;font-weight: bold; font-family: sans-serif;">What it means</h3>
        <br>
        <b>Failed</b> <br>
        These are high severity issues that need your immediate attention and action. They can range from an open
        unrestricted port that is considered risky (say SSH open to 0.0.0.0/0) or disk usage alerts not being configured
        which can cause you application to go down without notice. This also has more dangerous issues such as keeping
        the root user credentials active, which has unlimited access privileges. If someone gets access to it, they can
        even terminate your account with a single API call ! All issues in Failure state need to be fixed without any
        delays. <br><br>

        <b>Warning</b> <br>
        A warning is not a critical issue, but still needs attention. These could be simple things such as unused key
        pairs, or instances without termination protection. Issues in this category also depend on the environment under
        question. These can be ignored for Dev or Test infrastructure, but need to be addressed in Production and
        sometimes in Staging environments. When it is log or monitoring related, it is also possible that you are using
        external logging tools or monitoring dashboards to handle some of the recommendations, and can be safely ignored
        if so. <br><br>

        <b>Passed</b> <br>
        These are the resources which are in a healthy and secure state. Great job and keep it up. Your end goal should
        be to have 0 Failures, limited warnings and most of your checks in Passed state.
        <br><br>

        <b>Info</b> <br>
        These are the checks which are informational in nature and no immediate action is needed on these checks.  
        They fall in the category of good-to-have rather than must-have and it's upto your discretion to act on them.
        <br> <br>
    </div>
</div>

<div id="serviceDetailsSummary" style="page-break-before: always;">
    <h3 style="color: #33acdd;font-weight: bold; text-align: center; font-family: sans-serif;">Service Details Summary</h3>
    <div class="checkTablesummary">
        <div class="checkTableRow">
            <div class="checkTableservice" align="center"><strong>Service</strong></div>
            <div class="checkTableservice" align="center"><strong>Total Checks</strong></div>
            <div class="checkTableservice" align="center"><strong>Failed </strong></div>
            <div class="checkTableservice" align="center"><strong>Warning</strong></div>
            <div class="checkTableservice" align="center"><strong>Passed</strong></div>
            <div class="checkTableservice" align="center"><strong>Info</strong></div>
        </div>

        <% for(var data of totalData.summaryData) { %>
        <div class="checkTableRowsummary">
            <div class="checkTableCell"><%= data.service %></div>
            <div class="checkTableCell" align="center"><%= data.noOfChecks %></div>
            <div class="checkTableCell failuresummary" align="center"><%= data.noOfFailure %></div>
            <div class="checkTableCell warningsummary" align="center"><%= data.noOfWarning %></div>
            <div class="checkTableCell goodsummary" align="center"><%= data.noOfGood %></div>
            <div class="checkTableCell" style="color: blue;" align="center"><%= data.noOfInfo %></div>
        </div>
        <% } %>
    </div>
</div>

<div style="page-break-before: always;">
    <% for(var serviceName in totalData.servicesData) { %>
    <% var serviceData = totalData.servicesData[serviceName]; 
            if(!serviceData.isUsed) {
                continue;
            }
            serviceName = serviceName.replace('aws.', '');
    %>
    <div id="<%= serviceName %>">
        <%- include('serviceDetails', {serviceData: serviceData, serviceName: serviceName}) %>
    </div>
    <% } %>
</div>