<div class="checkTableRow <%= analysis.severity.toLowerCase() %>">
    <% if(region != 'global') { %>
    <div class="checkTableCell" style="width:auto;">
        <span><%= region %></span>
    </div>
    <% } %>
    <div class="checkTableCell resourceName" style="word-wrap: break-word;">
        <span><%= resourceValue %></span>
    </div>
    <div class="checkTableCell" style="word-wrap: break-word;">
        <span><%= analysis.message %></span>
    </div>
    <div class="checkTableCell">
        <span><%= analysis.action? analysis.action : "All good" %></span>
    </div>
</div>