<div></div>

    
   <!-- <div class="checkTableRow <%= analysis.severity.toLowerCase() %>">


  
    <div class="checkTableCell">
        <span><%= (typeof serviceName != "undefined" ? serviceName : "") %></span>
    </div>
    <div class="checkTableCell">
        
            <span><%- regionData.filter(r => r === 'Info').length %></span>
        
         
       
    </div>
    <div class="checkTableCell">
        <span><%- regionData.filter(r => r === 'Good').length %></span>
    </div>
    <div class="checkTableCell">
        <span><%- regionData.filter(r => r === 'Warning').length %></span>
    </div>
    <div class="checkTableCell">
        <span><%- regionData.filter(r => r === 'Failure').length %></span>
    </div>
 
     
</div> -->




 